<div id="page">
  <%= render "shared/top_nav" %>

  <%= form_for @space, :html => {:class => "spaceform"} do |f| %>
    <%= render :partial => "shared/space_details", :locals=>{:f=>f} %>
    <%= f.submit "Save & Quit Editing", :class => "search_it" %>
    <%= f.button "Edit Available Times", :class => "search_it" %>
  <% end %>
</div>