<%= render "shared/top_nav" %>
<div id="title4">Edit My Space Pictures</div>
<div id="page">
  <div id="edit_div" class="spaceform form_container" style="margin-top: 10em; width: 800px;">
      <div id="uploads_container"></div>
      <p>Upload Photos:<br><span id="rmv_msg" hidden>click on newly uploaded photo to remove</span><%= render "shared/pic_form" %></p>
      <%=form_tag(controller: "spaces", action: "update_pic", method: "post") do%>
        <input type="hidden" name="space_id" value=<%=@space.id%>>
        <% @photos.each do |photo| %>
          <p id=<%=photo.id%> ><img src=<%=photo.url%> style="max-height: 600px; max-width: 600px;"><br>
          <input class="old_pic search_it2" type="button" name=<%=photo.id%> value="delete"><br></p>
        <%end%>

      <div id="form_container"></div>
      <input type="submit" value="Save Photos" class="search_it2">
      <%end%>
  </div>
</div>
<%= render "shared/footer" %>
