<%= render "shared/top_nav" %>
<div id="title4">Edit My Space Listing</div>
<div id="page">
  <div id="edit_div">
  <%= form_for @space, :html => {:class => "spaceform"} do |f| %>
    <%= render :partial => "shared/space_details", :locals=>{:f=>f} %>
    <% if @space.active == 0 %>
      <%= f.submit "Activate & Edit Availability", :class => "search_it" %>
    <% else %>
      <%= f.submit "Save & Edit Availability", :class => "search_it" %>
    <% end %>
  <% end %>
  <% if @space.active == 1 %>
    <%= button_to "Make Space Inactive", { action: "destroy", id: @space.id },
                                class: "search_it", method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
  </div>
</div>

