<%= render "shared/top_nav" %>
<div id="title4">Edit My Space Listing</div>
<div id="page">
  <div id="edit_div">
  <%= form_for @space, :html => {:class => "spaceform"} do |f| %>
    <%= render :partial => "shared/space_details", :locals=>{:f=>f} %>
    <%= f.submit "Save & Edit Availability", :class => "search_it" %>
  <% end %>
  <%= button_to "Delete Space", { action: "destroy", id: @space.id },
                                class: "search_it", method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
</div>

