<%= render "shared/top_nav" %>
<div id="title4">Edit My Space Listing</div>
<div id="page">
  <div id="edit_div">
  <%= form_for @space, :html => {:class => "spaceform"} do |f| %>
    <%= render :partial => "shared/space_details", :locals=>{:f=>f} %>
    <% if @space.active == 0 %>
      <%= f.submit "Activate & Save", :class => "search_it" %>
    <% else %>
      <%= f.submit "Save", :class => "search_it" %>
    <% end %>
  <% end %>
  </div>
</div>

