<%= render "shared/top_nav" %>
<div id="title5"><%= @space.title %>
  <% if @space.active == 0 %> <span class="show_inactive">(INACTIVE)</span> <% end %>
</div>
<div class="photo">
  <% unless @space.photos.empty? %>
    <img id="primary_photo" src="<%=@space.photos.first.url%>">
  <% end %>
  <div>
    <ul id="thumbnails">
      <% for i in 0..3 %>
        <% if @space.photos[i] %>
          <img class="highlight" id="thumb<%=i%>" src="<%= @space.photos[i].url %>">
        <% else %>
          <img id="thumb<%=i%>" src="">
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
<div class="contents">
  <p><h5>description |</h5><%= @space.description %></p>
  <p><h5>dimensions |</h5><%= @space.dimensions %></p>
  <p><h5>equipment |</h5><%= @space.ammenities %></p>
  <p><h5>per hour |</h5><%= @space.rate %></p>
  <p><h5>address |</h5><br><%= @space.address %><br><%= @space.city %>, <%= @space.state %> <%= @space.zipcode %></p>
  <p><h5>phone |</h5><%= @space.phone %></p>
  <p><h5>email |</h5><%= mail_to @space.email, @space.email, subject: "Inquiry from Artspace.com regarding the #{@space.title} space" %></p>
</div>
<% if @space.active == 1 %>
  <% if current_user %>
    <div id="title6">click on the calendar and drag the box to book space</div>
  <% else %>
    <div id="title6">you must login to book a reservation</div>
  <% end %>
<% end %>
<input type="hidden" id="pub_key" value="<%= @publishable_key %>">
<%= render "shared/calendar" %>
<script>
  $('#thumbnails img').on('click', function(e){
    if (this.src != this.baseURI) {
      $('#primary_photo').attr('src', this.src);
    }
  });
</script>
<%= render "shared/footer" %>
