<%= render "shared/top_nav" %>
<div id="page">
  <div id="title7">CLICK ON A TITLE TO NAVIGATE TO YOUR OPTIONS</div>
  <div id="nav_wrapper">
    <ul id="manager_nav">
      <% @spaces.each do |space| %>
      <li>
        <%= link_to "#{space.title}", "##{space.title}" %>
      </li>
      <% end %>
    </ul>
  </div>
    

  <% @spaces.each do |space| %>
    <div class="space_holder1" id="<%= space.title %>">

      <h2 id="link"><%= space.title %></h2>
      <div class="upcoming_reservations">
        <h3><% if space.active == 0 %>Inactive<% end %></h3>
        <h3> UPCOMING RESERVATIONS </h3>
        <% space.upcoming_reservations.each do |r| %>
          <p><span class="color">RENTER </span><%= r.renter.first_name %>  <%= r.renter.last_name %><span class="color"> FROM </span><%= r.start_time %><span class="color"> TO </span><%= r.end_time %></p>
        <% end %>
      </div>
      <div class="options">
        <p><%= link_to "EDIT DETAILS", edit_space_path(space.id)%></p>
        <p><%= link_to "EDIT SCHEDULE", edit_space_path(space.id)%></p>
        <p><%= link_to "EDIT PHOTOS", edit_space_path(space.id)%></p>
        <% if space.active == 1 %>
        <%= button_to "Make Space Inactive", { action: "destroy", id: space.id, :controller=>"spaces" },
                      class: "search_it", method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
      </div>
    </div>
  <% end %>

    

</div>

