<div id="page">
	<%= render "shared/top_nav" %>

	<div id="search_placement"><%= render "shared/search" %></div>

		<h2 id="favorite_label">Favorite Spaces</h2>
		<div id="favorite" class="user_show">
		  <% current_user.favorite_spaces.each do |fave| %>
		  <div class="fave"><p><%= link_to "#{fave.title}", space_path(fave.id) %></p></div>
		  <% end %>
		</div>

	<div id="upcoming" class="user_show">
	  <h2>Upcoming Rentals</h2>
	  <% current_user.upcoming_reservations.each do |r| %>
	  <p><span class="color">AT</span><%= r.space.title %><span class="color">FROM</span><%= r.start_time %><span class="color">TO</span><%= r.end_time %></p>
	  <%= r.space.address %>     <%= r.space.city %>,    <%= r.space.state %>     <%= r.space.zipcode %>
	  <hr>
	  <% end %>
	</div>
</div>
