<script id='calendar_info' type='application/json'>
 <%= @calendar_info.html_safe %>
</script>
<% if current_user %>
<script>
$(document).ready(function() {
  handler = StripeCheckout.configure({
    //key: 'pk_test_XYAoxUJ6VE4GGzZr7hQujucR', //Our publishable api key
    name: "Artspace",
    key: $('#pub_key').val(),
    description: $("#make_reservation").data().spaceTitle,
    email: $("#make_reservation").data().spaceEmail,
    token: function(token, args) {
      var data = { token_key: token.id,
                   amount: get_total_charge(),
                   description: $("#make_reservation").data().spaceTitle,
                   reservation_data: { space_id: $("#make_reservation").data("space-id"),
                                       reservations: get_events()
                                     }
                  };

      $.post( '/payments/charge', data, function(response) {
        if(response.status == 'error') {
          alert(response.error)
        }

        else {
          var res_ids = response.reservation_ids.join(',');
          window.location = "/reservations/confirmation?ids=" + res_ids +"&amount=" + get_total_charge();
        }
      });
    }
  })
});
</script>
<% end %>

<div id="calendarbox">
  <% if current_user %>
  <button class="search_it" id="make_reservation" data-space-id='<%=@space.id%>' data-space-title='<%=@space.title%>' data-space-email='<%=@space.email%>' data-space-rate='<%=@space.rate%>'>Make Reservation</button>
  <% end %>
  <div id="calendar">
  </div>
  <div id="event_info" style="display: none;">
    <form id="event_form">
     <p><textarea name="description" id="description" cols="20" rows="5" placeholder="Please describe your intended use of the space as well as any equipment you may be bringing in."></textarea></p>
     <p> Number of people: <input type="text" name="count" id="count" /></p>
   </form>
  </div>
</div>

<script>

$(document).ready(function() {
  <% if current_user %>
    show_renter_calendar("#calendar");
  <% else %>
    show_renter_calendar("#calendar", read_only = true);
  <% end %>
});

</script>
