<script id='calendar_info' type='application/json'>
 <%= @calendar_info.html_safe %>
</script>
<% if current_user %>
<script>
$(document).ready(function() {
  handler = StripeCheckout.configure(stripe_config());
});
</script>
<% end %>

<div id="calendarbox">
  <% if current_user %>
  <button class="search_it" id="make_reservation" data-space-id='<%=@space.id%>' data-space-title='<%=@space.title%>' data-space-email='<%=@space.email%>' data-space-rate='<%=@space.rate%>'>Make Reservation</button>
  <% end %>
  <div id="calendar">
  </div>
  <div id="event_info" style="display: none;">
    <form id="event_form">
     <p><textarea name="description" id="description" cols="20" rows="5" placeholder="Please describe your intended use of the space as well as any equipment you may be bringing in."></textarea></p>
     <p> Number of people: <input type="text" name="count" id="count" /></p>
   </form>
  </div>
</div>

<script>

$(document).ready(function() {
  <% if current_user %>
    show_renter_calendar("#calendar");
  <% else %>
    show_renter_calendar("#calendar", read_only = true);
  <% end %>
});

</script>
