<ul id="space_form_list">
  <%= form_for @space, :html => {:class => "spaceform"} do |f| %>
  <div id="form_container"></div>
  <li><p>please provide a title for your space<br>this is how artists will search for your space<br><%= f.text_field   :title, placeholder: "Title" %></p></li>
  <li><p><%= f.text_area    :description, placeholder: "Please provide a description of your space. Include anything you may want to share with artists who will be renting your space.", size: "60x12" %></p></li>
  <li><p><%= f.text_field   :dimensions, placeholder: "Dimensions" %></p></li>

  <li><p>Ammenities<br><%= f.text_area   :ammenities, placeholder: "Please list any equipment that is provided in the space.", size: "60x6" %></p></li>
  <p>Permitted Uses:</p>
  <p>
    <% for use in Use.find(:all) %>
      <div id="uses">
        <%= check_box_tag "space[use_ids][]", use.id, @space.uses.include?(use) %>
        <%= use.category %>
      </div>
    <% end %>
  </p>

  <li><p>please specify an hourly rental rate<br><%= f.number_field :rate, placeholder: "Rate" %></p></li>
  <li><p>street address<br><%= f.text_field   :address, placeholder: "Address" %></p></li>
  <li><p><%= f.text_field   :city, placeholder: "City" %></p></li>
  <li><p><%= f.text_field   :state, placeholder: "State" %></p></li>
  <li><p><%= f.text_field :zipcode, placeholder: "Zipcode" %></p></li>
  <li><p>I would like to receive emails regarding rentals here<br><%= f.email_field  :email, placeholder: "Email" %></p></li>
  <li><p>business phonenumber<br><%= f.text_field :phone, placeholder: "Phone" %></p></li>
  <li><%= f.submit "Add Available times", class: "search_it pic_validate"%></li>
  <% end %>
</ul>
