<div class="bar_style bar1">
</div>
<div class="bar_style bar2">
</div>
<div class="bar_style bar3">
</div>
<%= image_tag "artspace.svg", id:"logo", class: "homelogo" %>
<h1 id="title">Artspace</h1>
<div id="search">
  <%= form_tag(spaces_path, :method => "get") do %>
	<p>
	  <%= text_field_tag :title, params[:title], placeholder: "find space for your artistic endeavors", size: 20, class:"search_style", id:"search_size" %>
	  <%= text_field_tag :rate, params[:rate], placeholder: "max $", size: 10, class:"search_style", id:"rate_size" %>
	  <%= submit_tag "Search", :name => nil, :class => "main_button red_button" %>
	</p>
  <% end %>
</div>
<% if session[:current_user_id] %>
	<div class="home_options top_home_link">
	  <p>|<%= link_to 'Profile', user_path(session[:current_user_id]) %></p>
	</div>
	<div class="home_options bottom_home_link">  
	  <p>|<%= link_to 'Logout', logout_path, method: :delete %></p>
	</div>
<% else %>
	<div class="home_options top_home_link">
	  <p>|<%= link_to 'Login', login_path, method: :get %></p>
	</div>
	<div class="home_options bottom_home_link">  
	  <p>|<%= link_to 'Sign Up', signup_path, method: :get %></p>
	</div>
<% end %>
<h2 class="opening_quote">"Space is the breath of art"</h2>
<h5 class="text">-Frank Lloyd Wright</h5>

<div id="focal">
</div>




