<div class="white_bar">
</div>
<div class="white_bar">
</div>
<div class="white_bar2">
</div>
<h1 id="title">Artspace</h1>
<div id="signin">
  <%= form_tag(spaces_path, :method => "get") do %>
	<p>
	  <%= text_field_tag :title, params[:title], placeholder: "search for space", size: 20, id:"search_form" %>
	  <%= text_field_tag :rate, params[:rate], placeholder: "max $", size: 10, id:"rate_form" %>
	  <%= submit_tag "Search", :name => nil, :class => "search_it" %>
	</p>
  <% end %>
</div>
<% if session[:current_user_id] %>
	<div id="login">
	  <p>|<%= link_to 'Profile', user_path(session[:current_user_id]) %></p>
	</div>
	<div id="signup">  
	  <p>|<%= link_to 'Logout', logout_path, method: :delete %></p>
	</div>
<% else %>
	<div id="login">
	  <p>|<%= link_to 'Login', login_path, method: :get %></p>
	</div>
	<div id="signup">  
	  <p>|<%= link_to 'Sign Up', signup_path, method: :get %></p>
	</div>
<% end %>


<div id="focal">
</div>




