<div class="white_bar">
</div>
<div class="white_bar">
</div>
<div class="white_bar2">
</div>
<h1 id="title">Artspace</h1>
<div id="signin">
  <%= form_tag(spaces_path, :method => "get") do %>
	<p>
	  <%= text_field_tag :name, params[:name], placeholder: "search for space", size: 20, id:"search_form" %>
	  <%= text_field_tag :rate, params[:rate], placeholder: "max $", size: 10, id:"rate_form" %>
	  <%= submit_tag "Search", :name => nil, :id => "search_it" %>
	</p>
  <% end %>
</div>
<div id="login">
  <p>|<%= link_to 'Login', login_path, method: :get %></p>
</div>
<div id="signup">  
  <p>|<%= link_to 'Sign Up', signup_path, method: :get %></p>
</div>

<div id="focal">
</div>




