<div id="page">
  <%= render "shared/top_nav" %>
  <div>
    Your reservation has been booked.  <%=@total_charge%> will be charged to your credit card.
  </div>
  <p>
    If you have any questions, please contact <%=@space.creator.first_name%> <%=@space.creator.last_name%> at <%=@space.email%>.
  </p>
  
  <h2>Reservation Details:</h2>
  <ul>
    <% @reservations.each do |r| %>
      <%= r.start_time.in_time_zone(-6).strftime("%a %m/%d/%y %I:%M %p") %><span class="color"> TO </span><%= r.end_time.in_time_zone(-6).strftime("%I:%M %p") %>
    <% end %>
  </ul>
  <br><br>
  <p>Thanks for booking with Artspace!</p>
  <%= render "shared/footer" %>
</div>